@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  color: inherit;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

body.no-scroll {
  overflow: hidden;
}

/* default styles */
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  padding: 16px 32px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px;
  display: inline-block;
}

.btn-primary {
  background-color: #1572D3;
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.btn-primary:hover {
  background-color: #0f4a8c;
}

.btn-opacity {
  background-color: rgba(21, 113, 211, 0.062745098);
  color: #1572D3;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}
.btn-opacity:hover {
  background-color: rgba(21, 113, 211, 0.1607843137);
}

.main-title {
  font-size: 38px;
  font-weight: 500;
  color: #333333;
}

/* default styles end */
.custom-select {
  width: 100%;
  background-color: #FAFAFA;
  position: relative;
  color: black;
  cursor: pointer;
  padding: 11px 16px;
  border-radius: 12px;
  box-shadow: 6px 6px 12px 0px rgba(19, 94, 172, 0.1215686275);
}
.custom-select.active .custom-dropdown {
  display: block;
  box-shadow: 0px 6px 12px 0px rgba(23, 59, 98, 0.23);
}
.custom-select .custom-dropdown {
  width: 100%;
  position: absolute;
  width: 100%;
  left: 0;
  top: 50px;
  z-index: 100;
  display: none;
  background-color: #FAFAFA;
  border-radius: 12px;
  border: 1px solid #e9e9e9;
}
.custom-select .custom-dropdown li {
  padding: 10px 16px;
  border-bottom: 1px solid #e9e9e9;
  transition: 0.3s;
}
.custom-select .custom-dropdown li:hover {
  background-color: #ecebeb;
}
.custom-select .custom-select-title {
  font-weight: 400;
  font-size: 16px;
}
.custom-select::before {
  content: url("../img/arrow-down.svg");
  position: absolute;
  top: 13px;
  right: 16px;
}

.custom-input {
  width: 100%;
  display: block;
  color: black;
  background-color: #FAFAFA;
  position: relative;
  cursor: pointer;
  padding: 11px 16px;
  border-radius: 12px;
  font-weight: 400;
  box-shadow: 6px 6px 12px 0px rgba(19, 94, 172, 0.1215686275);
}
.custom-input input {
  opacity: 0;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.custom-input input[type=date]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}
.custom-input::before {
  content: attr(data-title);
}

.default-label-title {
  color: #828282;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}

.default-input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #DED2D9;
  padding: 13px 10px;
  outline: none;
}
.default-input::-moz-placeholder {
  color: #E0E0E0;
}
.default-input::placeholder {
  color: #E0E0E0;
}

.login-modal {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4392156863);
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}
.login-modal.active {
  display: flex;
}
.login-modal-image {
  height: 600px;
  max-width: 450px;
}
.login-modal-image img {
  width: 100%;
  border-top-left-radius: 34px;
  border-bottom-left-radius: 34px;
}
.login-modal-content {
  width: 500px;
  height: 600px;
  padding: 65px 30px 30px;
  background-color: white;
  border-top-right-radius: 34px;
  border-bottom-right-radius: 34px;
  position: relative;
}
.login-modal-title {
  font-size: 36px;
  font-weight: 600;
  color: #525252;
  margin-bottom: 20px;
}
.login-modal-subtitle {
  font-size: 16px;
  font-weight: 400;
  color: #525252;
}
.login-modal-form {
  margin-top: 50px;
}
.login-modal-form .default-label {
  display: block;
  margin-bottom: 25px;
}
.login-modal-btn {
  width: 100%;
  margin-top: 40px;
}
.login-modal-close {
  position: absolute;
  right: 10px;
  top: 17px;
  width: 25px;
  height: 25px;
  font-size: 20px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.header {
  max-width: 1400px;
  margin: 0 auto;
  padding: 40px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header-burger-btn {
  display: none;
}
.header .header-logo img {
  width: 100%;
}
.header .header-list {
  display: flex;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.header .header-list .header-list-item {
  color: #484848;
  font-size: 16px;
  font-weight: 500;
}
.header .header-login {
  display: flex;
  align-items: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.header .header-sign-in {
  color: #484848;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.header .header-sign-up {
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  border-radius: 8px;
}

.home {
  padding: 48px 0;
}
.home .container {
  background: url("../img/home-bg.png") right no-repeat;
}
.home-book-car {
  width: 416px;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 6px 12px rgba(19, 93, 172, 0.1411764706);
  border-radius: 20px;
  padding: 40px;
}
.home-book-car .home-book-title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 40px;
}
.home-book-car .home-book-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.home-book-car .home-book-btn {
  width: 100%;
  margin-top: 20px;
}

.description {
  padding: 86px 0;
  text-align: center;
}
.description .description-title {
  margin: 32px 0 80px;
}
.description .description-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.description .description-cards .description-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  opacity: 0;
}
.description .description-cards .description-card-icons {
  width: 112px;
  height: 112px;
  background-color: #ECF5FF;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.description .description-cards .description-card-title {
  font-size: 20px;
  font-weight: 500;
  margin: 40px 0 24px;
}
.description .description-cards .description-card-subtitle {
  font-size: 14px;
  font-weight: 500;
  color: #6D6D6D;
}
.description .description-cards .description-card:hover .description-card-icons {
  background-color: #d3deeb;
}
.description .description-cards .description-card.visible {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
.description .description-cards .description-card.visible:nth-of-type(2) {
  transition-delay: 0.25s;
}
.description .description-cards .description-card.visible:nth-of-type(3) {
  transition-delay: 0.5s;
}
.description .description-car-logos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin-top: 160px;
  overflow: hidden;
  opacity: 0;
  transform: translateY(35px);
}
.description .description-car-logos img {
  width: 100%;
}
.description .description-car-logos.visible {
  opacity: 1;
  transition: all 0.5s ease-in-out;
  transform: translateY(0);
}

.chose-us {
  padding: 90px 0;
}
.chose-us .container {
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.chose-us .container::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  left: -300px;
  top: 90px;
  background: url("../img/tringle-bg.png") left/contain no-repeat;
}
.chose-us .container::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  left: -500px;
  top: 90px;
  background: url("../img/audi.png") left no-repeat;
  opacity: 0;
  z-index: 1;
}
.chose-us .container.visible::before {
  transition: all 0.7s ease-in-out;
  left: -200px;
  opacity: 1;
}
.chose-us .chose-us-box {
  width: 576px;
}
.chose-us .chose-us-title {
  margin: 32px 0 56px;
}
.chose-us .chose-us-cards {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.chose-us .chose-us-card {
  display: flex;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  gap: 24px;
  transform: translateX(45px);
  z-index: 20;
}
.chose-us .chose-us-card-icon {
  width: 64px;
  height: 64px;
  background-color: #ECF5FF;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.chose-us .chose-us-card-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
}
.chose-us .chose-us-card-subtitle {
  font-size: 16px;
  font-weight: 400;
  color: #6D6D6D;
}
.chose-us .chose-us-card:hover .chose-us-card-icon {
  background-color: #d3deeb;
}
.chose-us .chose-us-card.visible {
  opacity: 1;
  transition: all 0.5s ease-in-out;
  transform: translateX(0);
}
.chose-us .chose-us-card.visible:nth-of-type(2) {
  transition-delay: 0.15s;
}
.chose-us .chose-us-card.visible:nth-of-type(3) {
  transition-delay: 0.3s;
}
.chose-us .chose-us-card.visible:nth-of-type(4) {
  transition-delay: 0.45s;
}

.popular {
  padding: 84px 0;
  text-align: center;
}
.popular .popular-title {
  margin: 24px 0 64px;
}
.popular .popular-cards {
  display: flex;
  justify-content: center;
  gap: 32px;
}
.popular .popular-cards .popular-card {
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0px 12px 24px 0px rgba(16, 76, 139, 0.1607843137);
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.popular .popular-cards .popular-card-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
}
.popular .popular-cards .popular-card-rate {
  display: block;
  margin: 12px 0 16px;
  padding-left: 20px;
  background-image: url("../img/star.svg");
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  background-repeat: no-repeat;
  background-position-y: top;
  background-size: contain;
}
.popular .popular-cards .popular-card-rate-review {
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #959595;
}
.popular .popular-cards .popular-card-details {
  display: flex;
  flex-wrap: wrap;
  width: 208px;
  row-gap: 8px;
  padding-bottom: 24px;
  border-bottom: 1px solid #E0E0E0;
}
.popular .popular-cards .popular-card-details-item {
  text-align: left;
  color: #959595;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  height: 20px;
  padding-left: 22px;
}
.popular .popular-cards .popular-card-details-item.places {
  background: url("../img/places.svg") left no-repeat;
}
.popular .popular-cards .popular-card-details-item.gearbox {
  background: url("../img/gear.svg") left no-repeat;
}
.popular .popular-cards .popular-card-details-item.conditioning {
  background: url("../img/snow.svg") left no-repeat;
}
.popular .popular-cards .popular-card-details-item.doors {
  background: url("../img/doors.svg") left no-repeat;
}
.popular .popular-cards .popular-card-details-item:nth-of-type(2n) {
  margin: 0 auto;
}
.popular .popular-cards .popular-card-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}
.popular .popular-cards .popular-card-price-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.popular .popular-cards .popular-card-price-list {
  font-weight: 600;
  font-size: 16px;
  line-height: 17px;
}
.popular .popular-cards .popular-card-price-list .popular-card-price-days {
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  color: #959595;
}
.popular .popular-cards .popular-card-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.popular .show-all-cars {
  border: 1px solid #E0E0E0;
  margin-top: 64px;
  background-image: url("../img/arrow-right-2.svg");
  background-color: white;
  background-repeat: no-repeat;
  background-position: 88%;
  padding-right: 55px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #4E4E4E;
  cursor: pointer;
  transition: 0.3s;
}
.popular .show-all-cars:hover {
  background-color: #edebeb;
}

.feedback {
  background-color: #F7FBFF;
  width: 100%;
  padding: 127px 0;
  text-align: center;
}
.feedback .container {
  position: relative;
  height: 100%;
}
.feedback .container::before {
  content: "";
  position: absolute;
  background: url("../img/quotation.png") right no-repeat;
  width: 279px;
  height: 100%;
  right: 0;
  top: -334px;
}
.feedback .container::after {
  content: "";
  position: absolute;
  background: url("../img/quotation.png") left no-repeat;
  width: 292px;
  height: 100%;
  left: 0;
  top: 0;
  transform: rotateY(180deg);
}
.feedback .main-title {
  margin-top: 24px;
  font-weight: 500;
  font-size: 38px;
  line-height: 130%;
  color: #333333;
}
.feedback .feedback-cards {
  display: flex;
  gap: 40px;
  z-index: 20;
  position: relative;
  margin-top: 80px;
  width: 100%;
  overflow: auto;
}
.feedback .feedback-cards .feedback-card {
  min-width: 794px;
  height: 438px;
  display: flex;
  border-radius: 24px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 12px 24px 0px rgba(16, 76, 139, 0.1607843137);
}
.feedback .feedback-cards .feedback-card-image {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.feedback .feedback-cards .feedback-card-image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.feedback .feedback-cards .feedback-card-right {
  width: 50%;
  padding: 40px;
  text-align: left;
}
.feedback .feedback-cards .feedback-card-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #383838;
  margin-bottom: 24px;
  display: block;
}
.feedback .feedback-cards .feedback-card-title-numbers {
  font-size: 64px;
}
.feedback .feedback-cards .feedback-card-stars {
  display: flex;
  gap: 4px;
  margin-bottom: 48px;
}
.feedback .feedback-cards .feedback-card-star {
  width: 24px;
  height: 24px;
  display: block;
  background: url("../img/star.svg") center/cover no-repeat;
}
.feedback .feedback-cards .feedback-card-feedback {
  font-weight: 400;
  font-size: 18px;
  color: #282828;
}
.feedback .feedback-cards .feedback-card-username {
  font-weight: 500;
  font-size: 24px;
  margin-top: 80px;
  color: #252525;
}
.feedback .feedback-cards .feedback-card-address {
  font-weight: 400;
  font-size: 14px;
  color: #838383;
  margin-top: 16px;
}

.download-app {
  padding: 100px 0;
  position: relative;
  overflow: hidden;
}
.download-app .container {
  z-index: 10;
  position: relative;
}
.download-app-container {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}
.download-app-container.visible .download-app-phone {
  bottom: -640px;
  opacity: 1;
}
.download-app-phone {
  position: absolute;
  right: 0;
  bottom: -940px;
  opacity: 0;
  transition: all 0.7s ease-in-out;
}
.download-app-vector {
  position: absolute;
  left: -390px;
  bottom: -160px;
}
.download-app .main-title {
  font-weight: 600;
  font-size: 48px;
  color: #282828;
  line-height: 120%;
  margin-top: 24px;
}
.download-app .main-title-mark {
  color: #1572D3;
  font-weight: 600;
}
.download-app-description {
  font-weight: 400;
  font-size: 16px;
  color: #3E3E3E;
  margin: 40px 0;
}
.download-app-markets {
  display: flex;
  align-items: center;
  gap: 17px;
}

.footer {
  padding: 40px 0;
  background-color: #051C34;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 64px;
  border-bottom: 1px solid #575757;
}
.footer-left {
  width: 191px;
  color: #d6d6d6;
  font-size: 14px;
  font-weight: 400;
  font-size: 14px;
}
.footer-left-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 32px;
}
.footer-left-list-item {
  display: flex;
  align-items: center;
  gap: 8px;
  line-height: 150%;
}
.footer-right {
  width: auto;
  display: flex;
}
.footer-right-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-right-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: white;
}
.footer-right-list-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #D6D6D6;
}
.footer-right-list:nth-of-type(2) {
  margin: 0 81px 0 96px;
}
.footer-right-list:last-of-type {
  margin-left: 67px;
}
.footer-right-list-socials {
  display: flex;
  gap: 16px;
  align-items: center;
}
.footer-right-list-social {
  width: 24px;
  height: 24px;
}
.footer-right-list-social.facebook {
  background: url("../img/facebook.svg") center/cover no-repeat;
}
.footer-right-list-social.instagram {
  background: url("../img/instagram.svg") center/cover no-repeat;
}
.footer-right-list-social.youtube {
  background: url("../img/youtube.svg") center/cover no-repeat;
}
.footer-copyrights {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #D6D6D6;
  margin-top: 32px;
}/*# sourceMappingURL=style.css.map */